.list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  font-size: 1.2rem;
  list-style: none;
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
}

.list li {
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.addChore input[type="text"] {
  border: none;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
}
