.main {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
}

.list {
  padding-inline-start: 0;
  margin: 0;
  list-style: none;
}

.list li {
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.list li div {
  align-self: center;
}

.addChore input[type="text"] {
  border: none;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0;
}

.clearBtnn {
  background-color: gray;
  font-size: 1.2rem;
  height: 10vh;
}

.addChore {
  height: 10vh;
  font-size: 1.2rem;
  padding-left: 1em;
}

.deleteBtnn {

}

.taskDescription {
  border: none;
  font-size: 1.2rem;
}